<h3>Comment Listing</h3>
<p *ngIf="comments.length==0">No comments available</p>
<ul *ngIf="comments.length!=0">
  <li *ngFor="let comment of comments">
      {{ comment.author }} - {{comment.comment}} which has a rating of {{comment.rating}} 
</ul>